.cont{
 
    width:100vw;
    height: 600px;
    /* border:1px solid rgb(10, 203, 74); */
    background-color: black;
    margin: 0%;
     padding: 0%;
    align-items: start;

}
/* hr{
  margin: auto;
} */

.new1{
    border: 5px solid  #121212;
  border-radius: 5px;
  margin: auto;

}
.new2{
    border: 10px solid rgb(133, 2, 8);
  border-radius: 5px;
}
.pic-box{
    width: 100%;
    height: 93%;
    /* background-color: aqua; */
    display: flex;

}
.pic1{
  width: 50%;
  height: 100%;
  /* border: 1px solid yellow; */
}
.mg1{
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
.pic2{
  width: 50%;
  height: 100%;
  /* border: 1px solid rgb(238, 11, 71); */
}
.pc2>p{
  /* position: absolute; */
  background-color: antiquewhite;
}
.pic2>img{
  object-fit:conver;
  width: 100%;
 height: 100%;
}

.description-box{
  position: absolute;
  width: 300px;
  height: 250px;
  top:400px;
  left: 20px;
  /* border: 1px solid white; */
  background-color: rgb(12, 11, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  
}
.text-content{

}
.text-content>p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
  color: white;
}
.text-motivation{
  /* position: absolute; */
  width:50px ;
  height: 30px;
  border: 1px solid white;
  margin-top: -30px;

}
.text-motivatation>p{
font-size: 12px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
/* margin-top: -30px; */
}

.reg-button{
  
  width:150px;
  height: 50px;
  border: none;
  background-color: rgb(155, 5, 5);
  border-radius: 10px;
  top:-100px;
  left: -100px;
  /* margin-top: -20px; */
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;

}