.nav{
    width:100vw;
    height: 80px;
    /* border: 1px solid blue; */
    display: flex;
    background-color: rgb(7, 2, 2);
    align-items: center;
    justify-content: space-around;
    gap:30px;
}

.logo{
    width:80px;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    
    gap:20px
}
.logo h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
  color: white;
}
.logo>img{
    object-fit:fill;
    width: 100%;
    height: 100%;
}

.details{
    width:60%;
    height: 100%;
    /* border: 1px solid green; */
    background-color: black;
    text-align: right;
    display: flex;
    align-items:center;
    justify-content: center;
}
.contact{
    width:80%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:20px;
    /* background-color: rgb(255, 0, 204); */
}
.contact div{
    width:100px;
    height: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    color: white;
     /* border: 1px solid green; */
    /* background-color: azure;  */
   
}
.contact div:nth-child(2){
    width: auto;
    /* background-color: aqua; */
    /* padding: 0px 15px 0px 15px; */
}

.log-button{
    width:10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
    
}

/* .lo-button button{
    width: 50px;
    height: 50px;
    display: flex;
    color:rgb(202, 14, 14)
} */
.btn{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: rgb(187, 196, 204);
    background-color: rgb(63, 66, 65);
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.user-profile{

    /* backgroundColor:green; */
     margin-left:10px;
     width:50px;
     height:50px;
     display: flex;
     align-items: center;
     justify-content:center;
     background-color: rgb(52, 47, 47);
     border-radius: 5px;

}